RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.html [L]
RewriteRule ^about$ about.html [L]
RewriteRule ^about-us$ about.html [L]
RewriteRule ^features$ features.html [L]
RewriteRule ^gallery$ gallery.html [L]