a,
.btn,
.btn.btn2,
.main-heading,
#nav ul a:hover,
#back-top:hover,
#footer p a:hover,
.social-network a,
.main-banner h1 .clr,
.blog-sec .post-text h3,
#nav ul .anchor-active a,
.main-holder .txt-holder h3,
.blog-sec .post-nav a:hover,
#header .top-nav .mail:hover,
.portfolio-sec .col .heading,
.testimonials-sec .blockquote,
#footer .social-network a:hover,
.feature-sec .support-list li .fa,
.main-holder .tabset .active .icon,
.main-holder .tabset a:hover .icon,
.feature-sec .tabset .active .icon,
.feature-sec .tabset a:hover .icon,
.contact-sec .contact-list a:hover,
.portfolio-sec .filter-list a:hover,
.counter-sec .counter-holder .count,
.main-holder .tabset .active .title,
.main-holder .tabset a:hover .title,
.feature-sec .tabset .active .title,
.feature-sec .tabset a:hover .title,
.panel-group .panel-heading h4 a .fa,
.portfolio-sec .filter-list .active a,
.main-slider .slick-prev:hover:before,
.main-slider .slick-next:hover:before,
.panel-group .panel-heading h4 a:hover,
.team-sec .team .social-network a:hover,
.contact-sec .contact-list li:hover .icon,
.portfolio-sec .col .over .icon:hover {
  color: #c59a37; }

.btn:hover,
#nav ul a:before,
.testimonials-slider .slick-dots .slick-active,
.feature-sec .tabset a:before,
.main-holder .progress-bar .bar {
  background: #c59a37; }

.btn,
.contact-form .form-control:focus,
.contact-form textarea:focus {
  border-color: #c59a37; }
