:root{
    --primary-clr:#073f70;
    --secondary-clr:#073f7091;
    --primary-bg:rgb(221 228 235);
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'); 
/*==================================================================
                        Banner 
==================================================================*/
    header .banner{
      height: 50vh;
      width: 110%;
      overflow-x: hidden;
      .pos_abs_img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: -1px;
        z-index: 0;
      }
      .col-md-6{
        z-index: 2;
      }
      .row{
        align-items: center;
        align-content: flex-end;
        h1{
          font-size: 5rem;
          font-weight: bolder;
          font-family: "Lilita One", sans-serif;
          background: linear-gradient(117deg, #ffffff, #7c9290);
          color: transparent;
          background-clip: text;
          margin-bottom: 0;
        }
        h3{
            font-weight: bold;
            font-family: "Lilita One", sans-serif;
            background: linear-gradient(117deg, #ffffff, #7c9290);
            color: transparent;
            background-clip: text;
            text-transform: capitalize;
            padding-bottom: 15px;
        }
    
        
      }
    
   
    }
    
    
    /*==================================================================
                            Banner END
    ==================================================================*/



    /*==================================================================
                            course info
    ==================================================================*/
    .course-info{
      .cards-row{
        gap: 10px;
        justify-content: center;
      }
      .card{
        width: fit-content;
        border: 0;
        border-radius: 10px;
        .card-body{
          gap: 5px;
        }
        .card-body .icon-div .icon{
          height: 50px;
          filter: invert(97%) sepia(4%) saturate(554%) hue-rotate(265deg) brightness(116%) contrast(100%);
        }
        .card-body .cnt-div{
          .card-title{
            font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 0;
            color: white;
          }
          .sub-title{
            color: wheat;
            text-transform: capitalize;
            margin-bottom: 0;
          }
        }
      }
      .card:nth-child(1){
        background: linear-gradient(45deg, #8d0e0e, #d96262);
      }
      .card:nth-child(2){
        background: linear-gradient(45deg, #211678, #5a60d7);
      }
      .card:nth-child(3){
        background: linear-gradient(45deg, #167817, #67d75a);
      }
    }
    /*==================================================================
                            course info END
    ==================================================================*/




    /*==================================================================
                            course syllabus
    ==================================================================*/
    .course-syllabus{
        .title-row{
            .title{
                text-align: center;
                font-size:2.5rem;
                font-weight:bold;
                color:#222;
                letter-spacing:1px;
                text-transform: uppercase;
                display: grid;
                grid-template-columns: 1fr max-content 1fr;
                grid-template-rows: 27px 0;
                grid-gap: 20px;
                align-items: center;
                margin-bottom: 20px;
              }
              .title:after,.title:before {
                content: " ";
                display: block;
                border-bottom: 2px solid #9f227c;
                border-top: 2px solid #9f227c;
                height: 10px;
            }
        }
        .cards-row{
          .row.session-row h3{
            font-weight: bold;
            font-size: 2rem;
            text-transform: uppercase;
          }
          .card-col{
            margin-bottom: 20px;
          }
            .card{
                border-radius: 10px;
                height: 100%;
                .number{
                    width: fit-content;
                    font-weight: 800;
                    background: linear-gradient(45deg, #198754, #3cc987);
                    background-clip: text;
                    color: transparent;
                    font-size: 2rem;
                    margin-bottom: 0;
                }
                .card-title{
                    text-transform: capitalize;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }
    }
    @media screen and (max-width:800px) {
        .course-syllabus .title-row .title{
            font-size: 2rem;
        }
    }
    /*==================================================================
                            course syllabus END
    ==================================================================*/